GITHUB_TOKEN="CHANGEME"
* * * * * root bash -l -c "cd /opt && python3 /opt/watch.py >> /var/log/cron.log 2>&1"
#*/5 * * * * python3 /opt/watch.py
# Don't remove the empty line at the end of this file. It is required to run the cron job
